*{
    border: none;
    text-decoration:  none;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#000000;
    --second-bg-color:#292031;
    --text-color:#fff;
    --maincolor:#db248a;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba(116, 104, 104, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    color: var(--text-color);
    font-size: 3.5rem;
    font-weight: 600;
    cursor: default;
    transition: .3s;
}
.navbar{
    display: flex;
    margin-left: -60%
}
.navbar a {
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    color: var(--text-color);
    font-size: 2.3rem;
    margin-left: 30px;
}
.navbar a:hover,
.navbar .home{
    color: var(--maincolor);
    /* margin-right: 20%; */
    
}
#menu-icon{
    color: var(--text-color);
    font-size: 3.6rem;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.images img{
    width: 25vw;
    margin-left: 4%;
    border-radius: 100%;
    transition: .5s ease;
   
}
.images img:hover{
    transform: scale(1.2);
    transition: .8s;
    cursor: pointer;
   
}
.content{
    font-size: 3.2rem;
    font-weight: 700;
}
.content.h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
#about-content{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.socialmedia a{
    display: inline-flex;
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: .2rem solid var(--maincolor);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--maincolor);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.socialmedia a:hover{
    background-color: var(--maincolor);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.about-me{
margin-left: 50%;
font-size: 3.5rem;
text-decoration: underline;
margin-top: 8%;
}
.about-pitch{
    font-size: 2.7rem;
    margin-left: 40%;
    margin-top: 2%;
}
.about-images img{
    margin-top: -37%;
    width: 25vw;
    border-radius: 100%;
    transition: .5s ease;

}
.about-images img:hover{
    transform: scale(1.2);
    transition: .8s;
    cursor: pointer;
}
p a{
    text-decoration: none;
    color: var(--maincolor);
}
.skills h2{
    margin-bottom: 5rem;
}
#skills-heading{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 5rem;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2%;
}
.skills-box img{
    width: 5rem;
    height: 5rem;
    color: var(--maincolor);
}
.skills-box i{
    font-size: 7rem;
    color: var(--maincolor);
}
.skills-container .skills-box{
    background-color: var(--second-bg-color);
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    height:25vh ;
    
}
.skills-box i{
    font-size: 7rem;
    color: var(--maincolor);
}
.skills-box h3{
    font-size: 2.6rem;
}
.skills-box p{
    font-size: 1.6rem;
    margin: 1rem 0rem 3rem;

}
.projects{
    background: var(--second-bg-color);
}
.projects h2{
    margin-bottom: 4rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;

}
.projects-container .projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.projects-box img{
    width: 100%;
    height: 40vh;
    transition: .5s ease;
    margin-left: 3%;
}
.projects-box img:hover{
    transform: scale(1.2);
    
}
.projects-box .projects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0 0 0 1) var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.projects-box:hover .projects-layer{
    transform: translateY(0%);
    
}
.projects-layer h4{
    font-size: 3.5rem;
    color: var(--maincolor);

}
.projects-layer .projects-box p{
    font-size: 1.9rem;
    margin: .3rem 0 1rem;
    margin-bottom: -260%;
    color: var(--maincolor);
}
.projects-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.projects-layer a i{
    font-size: 2rem;
    color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.contact form .input-box input,
.contact form textarea{
    width: 50vw;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 4rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;

}
.contact form textarea{
    resize: none;
}
.btn{
    width: 10vw;
    height: 7vh;
    margin-top: 3%;
    background-color: #e15ea6;
    font-size: 20px;
    border-radius: 12px;

}
.btn:hover{
    background-color: var(--maincolor);
}
input{
    height: 5vh;
}
input text{
    margin-left: 2%;
}

